In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('ud_sep2014_aggregate.csv')
df.drop(['Unnamed: 0','CREDIT_STD'],axis='columns')

,CREDIT_DESCRIPTION,CREDIT_COUNT,CREDIT_MEAN,CREDIT_MIN,CREDIT_MEDIAN,CREDIT_MAX,CREDIT_SUM
0,Fonds Een hart voor ALS,1030,29.97,1.0,20.0,2000.0,30869.96
1,Bone4Kids Fonds,120,253.65,5.0,27.5,10300.0,30437.80
2,Laeversfonds voor ALSonderzoek,83,22.11,2.5,15.0,100.0,1835.00
3,Université Bujumbura,74,46.05,7.5,30.0,500.0,3407.50
4,Kinderkankerfonds Leuven,72,78.54,15.0,45.0,500.0,5655.00

In [8]:
df = pd.read_csv('md_sep2014_aggregate.csv')
df.drop(['Unnamed: 0','CREDIT_STD'],axis='columns')

,CREDIT_DESCRIPTION,CREDIT_COUNT,CREDIT_MEAN,CREDIT_MIN,CREDIT_MEDIAN,CREDIT_MAX,CREDIT_SUM
0,Fonds Een hart voor ALS,53,47.85,5.0,31.5,187.0,2536.0
1,Bone4Kids Fonds,42,330.12,5.0,32.5,10800.0,13865.0
2,KID-Fonds,38,52.68,10.0,25.0,427.0,2002.0
3,Rondoufonds voor Duchenneonderzoek,10,545.00,10.0,50.0,5000.0,5450.0
4,Kinderkankerfonds Leuven,8,148.12,15.0,60.0,450.0,1185.0